scripts/.ipynb_checkpoints/
.ipynb_checkpoints/
data/nyc_parking_tickets/Parking_Violations_Issued_-_Fiscal_Year_2014.csv
data/nyc_parking_tickets/Parking_Violations_Issued_-_Fiscal_Year_2015.csv
data/nyc_parking_tickets/Parking_Violations_Issued_-_Fiscal_Year_2016.csv
data/nyc_parking_tickets/Parking_Violations_Issued_-_Fiscal_Year_2017.csv
